* {
  --map-height-top-distance: 112px
}

/* @font-face {
  font-family: 'Open Sans Variable';
  src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content_section {
  margin-left: 24px;
  margin-right: 12px;
  width: 65vw;
  max-width: 65vw;

}

.map_section {
  position: sticky;
  width: 35vw;
  top: var(--map-height-top-distance);
  height: calc(100vh - var(--map-height-top-distance));
  overflow-y: auto;
}

.no-categories-map-height {
  height: calc(100vh - var(--map-height-top-distance) + 48px);
}

.tab-button {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  transition: color 0.1s ease, border-bottom-color 0.1s ease;

  padding-bottom: 3px !important;
}
.tab-button:hover, .tab-button.selected {
  /* background-color: #F7F7F7; */
  color: #444444;
  border-bottom: 2px solid #444444;
}

/* TEXT */
h1, h2, h3, h4, h5 {
  /* font-family: 'Open Sans Variable' !important; */
}

p, a, li, label {
  /* font-family: 'Open Sans Variable' !important; */
}

.text_large {
  font-size: 1.5em;
}

.text_medium {
  font-size: 0.83em;
}

.bold600 {
  font-weight: 600;
}

.bold500 {
  font-weight: 500;
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 15px;
  overflow-y: auto;
  flex: 1;
}

/* md breakpoint = 1024px */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .content_section {
    width:100vw;
  }
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  border: 1px solid black;
  font-size: 20px;
  font-weight: bold;
}

.card-border {
  border: 1px solid;
  height: 230px;
}

.m-t-1 {
  margin-top: 20px;
}

.p-b-1 {
  padding-bottom: 20px;
}

.pin-hover:hover {
  border: 1px solid black;
}

.monument-card {
  /* transition: box-shadow 0.3s ease; */
  /* box-shadow: var(--mantine-shadow-xs) !important; */
}

.monument-card.selected {
  /* box-shadow: var(--mantine-shadow-lg) !important; */
}

.category-item a, .category-item a:visited {
  color: black;
  text-decoration: unset;
  border: 1px grey solid;
  border-radius: 5px;
  padding: 4px 7px;
}

.navbar-item a, .navbar-item a:visited {
  color: black;
  text-decoration: unset;
}

.navbar-item a:hover {
  text-decoration: underline;
  cursor: pointer;
}

li {
  display: unset;
}

.align-left {
  text-align: left;
}